@import "tailwindcss";

@media (max-width: 768px) {
  .grid-cols-3 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .grid-cols-3 {
    grid-template-columns: repeat(1, 1fr);
  }
}

body {
  font-family: 'Inter', sans-serif;
}

.overlay-transparent {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55); /* preto com 25% de opacidade */
  z-index: 40;
}

